body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map{
    height: 100vh;
}

.title{
    color: #010101;
    position: absolute;
    top: 80px;
    left: 80px;
    font-size: 48px;
    z-index: 10;
    font-weight: bold;
    text-transform: uppercase;
}

.search-container{
    background-color: #010101;
    position: absolute;
    top: 170px;
    left: 80px;
    z-index: 10;
    width: 375px;
    height: 45px;
    border-radius: 20px; 
}

.searchBox{
    height: 100%; 
    display: flex;
    align-items: center;
    padding-left: 13px;
    padding-right: 13px;
}

.searchBox input{
    width: 100%;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: white;
}

.searchBox input:focus{
    outline: none;
}

.searchBox i{
    font-size: 20px;
    color: white;
    padding-right: 8px;
}

.stores-list-container{
    width: 375px;
    background-color: black;
    position: absolute;
    z-index: 30;
    top: 235px;
    left:80px;
    border-radius: 25px;
    bottom: 20px;
}

.stores-list{
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: scroll;
    height: 100%;
}

.store-container{
    display: flex;
    border-bottom: 1px solid darkgray;
    cursor: pointer;
}

.store-container-background {
    display: flex;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 18px;
    padding-right: 8px;
    padding-left: 8px;
    transition: all 0.2s ease-in-out;

}
.store-container-background:hover {
    background-color: #38515b;
}


.store-info-container{
    font-size: large;
    flex-grow: 1;
}

.store-address{
    margin-top: 30px;
    color: orange;
    font-size: 21px;
}

.store-address span{
    display: block;
}

.store-phone-number{
    margin-top: 15px;
    margin-bottom: 15px;
    color: yellow;
}

.store-number-container{
    display: flex;
    align-items: center;
}

.store-number{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: royalblue;
}

.marker i{
    color: tomato;
    align-items: center;
}

hr{
    width: 94%;
    background-color: gray;
    border: none;
    height: 2px;
    margin-top: 15px;
}

::-webkit-scrollbar {
    display: none;
  }

.gm-style-iw.gm-style-iw-c{
    padding: 0 ;
    background-color: black;
} 

.store-info-window{
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
    background-color: black;
    margin: 0;
}

.store-info-name{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.store-info-status{
    margin-top: 6px;
    border-bottom: 1px solid yellow;
    padding-bottom: 6px;
    color: white;
}

.store-info-address, .store-info-phone{
    margin-top: 8px;
    color: white;
    display: flex;
    align-items: center;
}

.store-info-address .circle, .store-info-phone .circle{
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color:royalblue;
    border-radius: 50%;
    justify-content: center;
    margin-right: 8px;
}
